/*  =========FONTS============ */

@font-face {
    font-family: font1;
    src: url(./fonts/3XFtErw3860rsdSUVZx78hP2QtzZ.woff2);
}

@font-face {
    font-family: font2;
    src: url(./fonts/bootstrap-icons.woff2);
}

@font-face {
    font-family: font3;
    src: url(./fonts/flaticon_mycollection.woff2);
}

@font-face {
    font-family: font4;
    src: url(./fonts/nuFkD-vYSZviVYUb_rj3ij__anPXDTnogkk7.woff2);
}

@font-face {
    font-family: font5;
    src: url(./fonts/t5sJIQcYNIWbFgDgAAzZ34auoVyXkJCOvp3SFWJbN5hF8Ju1x6sKCyp0l9sI40swNJwInycYAJzz0m7kJ4qFQOJBOjLvDSndo0SKMpKSTzwliVdHAy4bxTDHg_ugnAakp8ub-cxgUg.woff2);
}

@font-face {
    font-family: font6;
    src: url(./fonts/t5svIQcYNIWbFgDgAAzZ34auoVyXkJCOvp3SFWJbN5hF8Ju1x6sKCyp0l9sI40swNJwGpVd4AZzz0v6lJ4qFXNZhGjLvDSkV4W6GGn8.woff2);
}

@font-face {
    font-family: font7;
    src: url(./fonts/xn7gYHE41ni1AdIRggexSg.woff2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
}


/* common class */

.bg-yellow {
    color: #E3AD0B;
    font-family: font4;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =====Nav Section Code==== */

.nav-section {
    height: 34%;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.nav1-top {
    display: none;
}

.nav2-bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    padding: 2px 20px;
    gap: 10px;
}

.logo img {
    height: 30px;
}

.nav2-links {
    display: none;
}

.button2 {
    display: flex;
    font-size: small;
    background-color: #E3AD0B;
    padding: 7px 10px;
    border: none;
    border-radius: 6px;
    color: white;
    gap: 4px;
}

.button2 h1 {
    font-size: 12px;
    font-family: font1;
}

.button2 h2 {
    font-size: 12px;
    font-family: font1;
    background-color: white;
    color: black;
}

/* ========NAV SECTTIONS RESPONSIVE========= */

@media (min-Width:786px) {

    .nav-section {
        margin-top: 0;
    }

    .nav1-top {
        display: flex;
        background-color: #07001A;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        font-family: font1;
        padding: 7px;
    }

    .logo img {
        height: 60px;
    }

    .flex {
        display: flex;
        gap: 5px;
    }

    .button2 {
        font-size: small;
        padding: 8px 7px;
        gap: 10px;
    }

    .button2 h1 {
        font-size: 15px;
    }

    .button2 h2 {
        font-size: 20px;
        padding: 5px 5px;
        border-radius: 5px;
    }

    .details {
        color: white;
        gap: 30px;
        margin-left: 50px;
    }

    .details h1 {
        font-size: 16px;
    }

    .input-div {
        padding: 2px 5px;
        border-radius: 10px;
        gap: 10px;
    }

    .input-div input {
        border: none;
        background-color: #07001A;
        padding: 6px 5px;
        border-radius: 5px;
    }

    .input-div i {
        color: white;
        font-size: 20px;
    }

    .nav-logos {
        display: flex;
        font-size: 17px;
        gap: 10px;
        color: white;
        margin-right: 50px;
    }

    .nav2-links {
        display: flex;
        gap: 60px;
    }

    .nav2-links a {
        text-decoration: none;
        font-family: font6;
        color: black;
        font-size: 14px;
        font-weight: 600;
    }

    .nav2-links h1 {
        font-weight: 100;
        font-size: 20px;
    }

}

/* ========PAGE1-SECTION-CODE============ */

.page1 {
    min-height: 100%;
    width: 100%;
    position: relative;
}

.page1 img {
    min-height: 100%;
    width: 100%;
    background-position: center;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.page1-info {
    height: 90%;
    width: 60%;
    position: absolute;
    top: 10px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vmax;
    padding: 1vmax 2vmax;
    border-radius: 10px;
    color: white;
}

.page1-head {
    font-family: font1;
    font-size: 1.1vmax;
}

.page1-head span {
    background-color: #E3AD0B;
    padding: 0.3vmax 0.6vmax;
    border-radius: 0.1vmax;
}

.page1-head2 {
    font-family: font1;
    font-size: 2vmax;
}

.page1-para {
    font-family: font1;
    font-size: 1.5vmax;
}

.page1-button {
    display: flex;
    font-size: 1.5vmax;
    background-color: #E3AD0B;
    border: none;
    border-radius: 0.8vmax;
    color: white;
    gap: 10px;
    padding: 0.4vmax 1vmax;
}

.page1-button h1 {
    font-size: 1vmax;
    font-family: font1;
}

.page1-button h2 {
    font-size: 1vmax;
    font-family: font1;
    background-color: white;
    color: black;
    border-radius: 5px;
}

/* ====PAGE1-SECTION-RESPONSIVE======= */

@media (min-width:786px) {
    .page1 {
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }

    .page1 img {
        min-height: 100%;
        width: 100%;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .page1-info {
        height: 50%;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 140px;
        left: 30px;
    }

    .page1-head {
        font-family: font1;
        font-size: 1.1vmax;
    }

    .page1-head2 {
        font-family: font5;
        font-size: 4vmax;
    }

    .page1-para {
        font-family: font1;
        font-size: 1.5vmax;
    }

    .page1-button {
        display: flex;
        font-size: 1.5vmax;
        padding: 1vmax 2vmax;
        border: none;
        border-radius: 1vmax;
    }

    .page1-button h1 {
        font-size: 20px;
        font-family: font1;

    }

    .page1-button h2 {
        font-size: 27px;
        padding: 5px 10px;
        font-family: font1;
    }
}

/* ===========PAGE2-SECTION-CODE========== */

.page2 {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5vmax;
    gap: 2vmax;
    position: relative;
}

.page2-div1 {
    height: 100%;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5vmax;
    border-radius: 10px;
    border: 1px solid rgb(231, 211, 211);
    box-shadow: inset;
    box-shadow: black;
    position: relative;
}

.page2-div1 h1 {
    font-family: font1;
    font-size: 4vmax;
}

.page2-div1 p {
    font-family: font1;
}

.page2-logos {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page2-logos .num {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.page2-div2 {
    height: 100%;
    width: 100%;
    background-color: #E3AD0B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5vmax;
    border-radius: 10px;
    position: relative;
}

.page2-div2 h1 {
    font-family: font1;
}

.page2-div2 p {
    font-family: font1;
}

.page2-div3 {
    height: 100%;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5vmax;
    border-radius: 10px;
    border: 1px solid rgb(231, 211, 211);
    position: relative;
}

.page2-div3 h1 {
    font-family: font1;
}

.page2-div3 p {
    font-family: font1;
}

/* ======PAGE2-SECTION-RESPONSIVE===== */

@media (min-width:786px) {
    .page2 {
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5vmax;
        gap: 2vmax;
    }

    .page2-div1 {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 5vmax;
        border-bottom-right-radius: 90px;
    }

    .page2-div1 h1 {
        font-size: 2vmax;
    }

    .page2-div1 p {
        font-family: font1;
    }

    .page2-logos {
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .page2-logos .num {
        background-color: #F1F7F3;
        color: black;
        border-radius: 50%;
        padding: 15px;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .page2-bg {
        height: 80px;
        width: 80px;
        background-color: white;
        border-top-left-radius: 40px;
        position: absolute;
        bottom: 0;
        right: 0;
        border-left: 1px solid rgb(231, 211, 211);
        border-top: 1px solid rgb(231, 211, 211);

    }

    #page2-bg {
        height: 80px;
        width: 80px;
        background-color: white;
        border-top-left-radius: 40px;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .page2-logos i {
        font-size: 70px;
    }

    .page2-div2 {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        padding: 5vmax;
        border-radius: 10px;
        border-bottom-right-radius: 90px;
    }

    .page2-div2 h1 {
        font-family: font1;
        font-size: 2vmax;
    }

    .page2-div3 {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        padding: 5vmax;
        border-bottom-right-radius: 90px;
    }

    .page2-div3 h1 {
        font-size: 2vmax;
    }

}

/* =========PAGE3-SECTION-CODE======= */

.page3 {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vmax;
}

.page3-top1 {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.1vmax;
}

.page3-top1 h1 {
    font-family: font1;
    font-size: 2vmax;
}

.page3-top1 h2 {
    font-family: font1;
    font-size: 3vmax;
}

.page3-top1 h3 {
    font-family: font4;
    font-size: 3vmax;
    color: #E3AD0B;
}

.page3-top2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vmax;
    padding: 2vmax;
}

.page3-top2 h1 {
    font-size: 10vmax;
    color: #E3AD0B;
    font-family: font1;
}

.page3-top2 p {
    font-family: font1;
    color: gray;
}

.page3-img-div {
    height: 30%;
    width: 100%;
    padding: 2vmax;
}

.page3-img-div img {
    height: 6vmax;
}

.page3-logo {
    display: none;
}

.page3-img-div h1 {
    font-family: font1;
    font-size: 1.4vmax;
}

.page3-img-div1 {
    gap: 1vmax;

}

.page3-img-div2 {
    gap: 1vmax;
}

.page3-bot1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1vmax solid #E3AD0B;
    border-radius: 0.6vmax;
    padding: 1vmax;
    font-family: font1;
    font-size: 1vmax;
}

.page3-bot2 {
    padding: 2vmax;
    font-family: font1;
}

.page3-bot2 h1 {
    font-size: 2vmax;
}

.page3-right-div {
    height: 50%;
    width: 100%;
    position: relative;
    margin-top: 3vmax;
}

.page3-right-div img {
    height: 100%;
    width: 100%;
}

/* ===========PAGE3-SECTION-RESPONSIVE========== */

@media (min-width:786px) {
    .page3 {
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5vmax;
        background-color: white;
        gap: 20px;
    }

    .page3-top1 {
        height: 20%;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.1vmax;
        padding: 0;
    }

    .page3-top1 h1 {
        font-family: font1;
        font-size: 1.9vmax;
        font-weight: 200;
    }

    .page3-top1 h2 {
        font-family: font1;
        font-size: 4vmax;
    }

    .page3-top1 h3 {
        font-family: font4;
        font-size: 3vmax;
        color: #E3AD0B;
    }

    .page3-top2 {
        gap: 1vmax;
        padding: 1vmax;
    }

    .page3-top2 h1 {
        font-size: 5vmax;
    }

    .page3-top2 p {
        font-family: font1;
    }

    .page3-img-div {
        height: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
    }

    .page3-img-div img {
        height: 6vmax;
    }

    .page3-img-div h1 {
        font-family: font1;
        font-size: 1.4vmax;
    }

    .page3-img-div1 {
        gap: 0.1vmax;

    }

    .page3-img-div2 {
        gap: 1vmax;
    }

    .page3-bot1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1vmax solid #E3AD0B;
        border-radius: 0.6vmax;
        padding: 5px;
    }

    .page3-bot2 {
        padding: 2vmax;
    }

    .page3-bot2 h1 {
        font-size: 1.2vmax;
    }

    .page3-right-div {
        min-height: 100vh;
        width: 100%;
        position: relative;
    }

    .page3-bg {
        min-height: 100vh;
        width: 100%;
        background-position: center;
        object-fit: cover;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 200px
    }

    .page3-div-logos {
        height: 200px;
        width: 200px;
        position: absolute;
        background-color: white;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
    }

    .bg-white {
        height: 20%;
        width: 20%;
        background-color: white;
    }

    .page3-div-logos img {
        display: block;
        height: 70%;
        width: 70%;
        border-radius: 10px;
    }
}

/* ======PAGE4-SECTION-CODE======= */

.page4-animation-sec {
    height: 15vh;
    width: 100%;
    position: relative;
}

.page4-animation-cont {
    overflow-x: auto;
    overflow-y: hidden;
    gap: 29px;
}

.page4-scorlling-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
    gap: 29px;
    animation-name: animation;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.page4-scorlling-div h1 {
    font-size: 70px;
    flex-shrink: 0;
    font-family: font4;
    color: #07001A;
}

.page4-animation-cont::-webkit-scrollbar {
    display: none;
}

@keyframes animation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* ========PAGE5-SECTION-CODE================ */

.page5 {
    min-height: 100vh;
    width: 100%;
    gap: 4vmax;
    flex-direction: column;
    background-color: #07001A;
    border-radius: 2vmax;
    padding: 5vmax;
}

.page5-div {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.page5-div h1 {
    font-family: font1;
    font-size: 2vmax;
}

.page5-div h2 {
    font-family: font4;
    color: #E3AD0B;
}

.page5-boxs {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5vmax;
}

.page5-cont {
    background-color: white;
    overflow: hidden;
    padding-bottom: 2vmax;
    position: relative;
    border-radius: 2vmax;
}

.page5-para {
    padding: 4vmax;
}

.page5-cont img {
    width: 100%;
}

.page5-cont h1 {
    color: #07001A;
    font-family: font1;
}

.page5-cont p {
    opacity: 3;
    font-family: font3;
}

/* =======PAGE5-SECTION-RESPONSIVE========== */

@media (min-width:786px) {

    .page5 {
        min-height: 100vh;
        overflow: hidden;
    }

    .page5-div h1 {
        font-size: 3vmax;
    }

    .page5-div h2 {
        font-size: 2vmax;
    }

    .page5-boxs {
        display: flex;
        flex-direction: row;
        padding: 20px;
    }

    .page5-icon-cont {
        background-color: #07001A;
        padding: 20px;
        border-radius: 20px;
        position: absolute;
        bottom: 0;
        left: 232px;
    }

    .page5-icon-div {
        background-color: #E3AD0B;
        padding: 10px;
        border-radius: 10px;
    }

    .page5-cont img {
        height: 30vh;
    }

}

/* =========page6 code======= */

.page6 {
    min-height: 100vh;
    width: 100%;
    padding: 2vmax;
    flex-direction: column;
}

.page6-left-div {
    flex-direction: column;
    gap: 5vmax;
}

.page6-left-div h1 {
    font-family: font1;
    font-size: 2vmax;
}

.page6-left-div img {
    height: 19vmax;
}

.page6-right-div {
    font-family: font1;
}

.page6-bot1 {
    flex-direction: column;
}

.page6-bot2 {
    flex-direction: column;
}

/* =======PAGE6-SECTION RESPONSIVE========= */

@media (min-width:786px) {

    .page6 {
        min-height: 100%;
        padding: 80px;
        width: 100%;
        flex-direction: row;
    }

    .page6-left-div {
        width: 30%;
        flex-direction: column;
        gap: 5vmax;
    }

    .page6-left-div h1 {
        font-family: font1;
    }

    .page6-left-div img {
        height: 200px;
    }

    .page6-right-div {
        width: 70%;
    }

    .page6-top-div h1 {
        font-size: 4vmax;
        margin-bottom: 20px;
    }

    .page6-bot-div {
        display: flex;
        gap: 50px;
    }

    .page6-bot1 {
        flex-direction: column;
        gap: 20px;
    }

    .page6-bot2 {
        flex-direction: column;
        gap: 20px;
    }

}

/* ===========PAGE7-SECTION CODE========== */

.page7 {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    padding: 5vmax;
}

.page7-left-div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: font1;
}

.page7-right-div {
    position: relative;
}

.page7-right-div img {
    width: 100%;
    border-radius: 30px;
}

/* ==========PAGE7-SECTION RESPONSIVE */

@media (min-width:786px) {
    .page7 {
        min-height: 100%;
        width: 100%;
        flex-direction: row;
    }

    .page7-left-div {
        width: 30%;
        font-size: 30px;
        gap: 20px;
    }

    .page7-left-div h1 {
        color: #07001A;
    }

    .page7-left-div h3 {
        font-size: 20px;
        color: rgb(147, 150, 151);
    }

    .page7-right-div {
        width: 70%;

    }

    .page7-right-div img {
        width: 100%;
    }
}

/* ============PAGE8-SECTION========= */

.page8 {
    min-height: 100vh;
    width: 100%;
    color: #07001A;
    background-color: #07001A;
}

.page8-video {
    height: 100%;
    width: 100%;
    background-color: #F1F7F3;
}

.page8-video video {
    width: 100%;
}

.page8-content {
    color: white;
    font-family: font1;
    padding: 10px;
    background-color: #228142;
}

.page8-content p {
    font-size: 15px;
    padding: 10px;
}

.page8-cont1 {
    flex-direction: column;
    padding: 30px;
}

.page8-loading {
    gap: 30px;
    border-bottom: 4px solid #E3AD0B;
    padding: 10px;
}

.page8-loading2 {
    gap: 30px;
    border-bottom: 4px solid #E3AD0B;
    padding: 10px;
}

.page8-content h1 {
    font-size: 13px;
}

.page8-cont2 {
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.page8-content h1 {
    font-size: 20px;
}

.page8-form {
    width: 100%;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    background-color: white;
}

.input {
    border-radius: 10px;
    padding: 2vmax;
    border: 1px solid #07001A;
}

.page8-form-input1 {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.page8-form-input2 {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}


.page8 button {
    padding: 10px
}