/* =========================== */
/*  =========FONTS============ */
/* =========================== */

@font-face {
    font-family: font1;
    src: url(./fonts/3XFtErw3860rsdSUVZx78hP2QtzZ.woff2);
}

@font-face {
    font-family: font2;
    src: url(./fonts/bootstrap-icons.woff2);
}

@font-face {
    font-family: font3;
    src: url(./fonts/flaticon_mycollection.woff2);
}

@font-face {
    font-family: font4;
    src: url(./fonts/nuFkD-vYSZviVYUb_rj3ij__anPXDTnogkk7.woff2);
}

@font-face {
    font-family: font5;
    src: url(./fonts/t5sJIQcYNIWbFgDgAAzZ34auoVyXkJCOvp3SFWJbN5hF8Ju1x6sKCyp0l9sI40swNJwInycYAJzz0m7kJ4qFQOJBOjLvDSndo0SKMpKSTzwliVdHAy4bxTDHg_ugnAakp8ub-cxgUg.woff2);
}

@font-face {
    font-family: font6;
    src: url(./fonts/t5svIQcYNIWbFgDgAAzZ34auoVyXkJCOvp3SFWJbN5hF8Ju1x6sKCyp0l9sI40swNJwGpVd4AZzz0v6lJ4qFXNZhGjLvDSkV4W6GGn8.woff2);
}

@font-face {
    font-family: font7;
    src: url(./fonts/xn7gYHE41ni1AdIRggexSg.woff2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
}

/* ========================= */
/* =====Nav Section Code==== */
/* ========================= */

.nav-section {
    height: 34%;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.nav1-top {
    display: none;
}

.nav2-bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    padding: 2px 20px;
    gap: 10px;
}

.logo img {
    height: 30px;
}

.nav2-links {
    display: none;
}

.button2 {
    display: flex;
    font-size: small;
    background-color: #E3AD0B;
    padding: 7px 10px;
    border: none;
    border-radius: 6px;
    color: white;
    gap: 4px;
}

.button2 h1 {
    font-size: 12px;
    font-family: font1;
}

.button2 h2 {
    font-size: 12px;
    font-family: font1;
    background-color: white;
    color: black;
}

/* =========================================== */
/* ========NAV SECTTIONS RESPONSIVE========= */
/* =========================================== */

@media (min-Width:786px) {

    .nav-section {
        margin-top: 0;
    }

    .nav1-top {
        display: flex;
        background-color: #07001A;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        font-family: font1;
        padding: 7px;
    }

    .logo img {
        height: 60px;
    }

    .flex {
        display: flex;
        gap: 5px;
    }

    .button2 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: small;
        padding: 8px 7px;
        gap: 10px;
    }

    .button2 h1 {
        font-size: 15px;
    }

    .button2 h2 {
        font-size: 20px;
        padding: 5px 5px;
        border-radius: 5px;
    }

    .details {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-left: 50px;
    }

    .details h1 {
        font-size: 16px;
    }

    .input-div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 5px;
        border-radius: 10px;
        gap: 10px;
    }

    .input-div input {
        border: none;
        background-color: #07001A;
        padding: 6px 5px;
        border-radius: 5px;
    }

    .input-div i {
        color: white;
        font-size: 20px;
    }

    .nav-logos {
        display: flex;
        font-size: 17px;
        gap: 10px;
        color: white;
        margin-right: 50px;
    }

    .nav2-links {
        display: flex;
        gap: 60px;
    }

    .nav2-links a {
        text-decoration: none;
        font-family: font6;
        color: black;
        font-size: 14px;
        font-weight: 600;
    }

    .nav2-links h1 {
        font-weight: 100;
        font-size: 20px;
    }

}

/* ============================== */
/* ========page1 code============ */
/* ============================== */

.page1 {
    min-height: 100%;
    width: 100%;
    position: relative;
}

.page1 img {
    min-height: 100%;
    width: 100%;
    background-position: center;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.page1-info {
    height: 90%;
    width: 60%;
    position: absolute;
    top: 10px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vmax;
    padding: 1vmax 2vmax;
    border-radius: 10px;
    color: white;
}

.page1-head {
    font-family: font1;
    font-size: 1.1vmax;
}

.page1-head span {
    background-color: #E3AD0B;
    padding: 0.3vmax 0.6vmax;
    border-radius: 0.1vmax;
}

.page1-head2 {
    font-family: font1;
    font-size: 2vmax;
}

.page1-para {
    font-family: font1;
    font-size: 1.5vmax;
}

.page1-button {
    display: flex;
    font-size: 1.5vmax;
    background-color: #E3AD0B;
    border: none;
    border-radius: 0.8vmax;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0.4vmax 1vmax;
}

.page1-button h1 {
    font-size: 1vmax;
    font-family: font1;
}

.page1-button h2 {
    font-size: 1vmax;
    font-family: font1;
    background-color: white;
    color: black;
    border-radius: 5px;
}

/* =========================== */
/* ====Page1 responsive======= */
/* =========================== */

@media (min-width:786px) {
    .page1 {
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }

    .page1 img {
        min-height: 100%;
        width: 100%;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .page1-info {
        height: 50%;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 140px;
        left: 30px;
    }

    .page1-head {
        font-family: font1;
        font-size: 1.1vmax;
    }

    .page1-head2 {
        font-family: font5;
        font-size: 4vmax;
    }

    .page1-para {
        font-family: font1;
        font-size: 1.5vmax;
    }

    .page1-button {
        display: flex;
        font-size: 1.5vmax;
        padding: 1vmax 2vmax;
        border: none;
        border-radius: 1vmax;
    }

    .page1-button h1 {
        font-size: 20px;
        font-family: font1;

    }

    .page1-button h2 {
        font-size: 27px;
        padding: 5px 10px;
        font-family: font1;
    }
}

/* =============================== */
/* ===========page2 code========== */
/* =============================== */

.page2 {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5vmax;
    gap: 2vmax;
    position: relative;
}

.page2-div1 {
    height: 100%;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5vmax;
    border-radius: 10px;
    border: 1px solid rgb(231, 211, 211);
    box-shadow: inset;
    box-shadow: black;
    position: relative;
}

.page2-div1 h1 {
    font-family: font1;
    font-size: 4vmax;
}

.page2-div1 p {
    font-family: font1;
}

.page2-logos {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page2-logos .num {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.page2-div2 {
    height: 100%;
    width: 100%;
    background-color: #E3AD0B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5vmax;
    border-radius: 10px;
    position: relative;
}

.page2-div2 h1 {
    font-family: font1;
}

.page2-div2 p {
    font-family: font1;
}

.page2-div3 {
    height: 100%;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5vmax;
    border-radius: 10px;
    border: 1px solid rgb(231, 211, 211);
    position: relative;
}

.page2-div3 h1 {
    font-family: font1;
}

.page2-div3 p {
    font-family: font1;
}


@media (min-width:786px) {
    .page2 {
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5vmax;
        gap: 2vmax;
    }

    .page2-div1 {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 5vmax;
        border-bottom-right-radius: 90px;
    }

    .page2-div1 h1 {
        font-size: 2vmax;
    }

    .page2-div1 p {
        font-family: font1;
    }

    .page2-logos {
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .page2-logos .num {
        background-color: #F1F7F3;
        color: black;
        border-radius: 50%;
        padding: 15px;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .page2-bg {
        height: 80px;
        width: 80px;
        background-color: white;
        border-top-left-radius: 40px;
        position: absolute;
        bottom: 0;
        right: 0;
        border-left: 1px solid rgb(231, 211, 211);
        border-top: 1px solid rgb(231, 211, 211);

    }

    #page2-bg {
        height: 80px;
        width: 80px;
        background-color: white;
        border-top-left-radius: 40px;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .page2-logos i {
        font-size: 70px;
    }

    .page2-div2 {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        padding: 5vmax;
        border-radius: 10px;
        border-bottom-right-radius: 90px;
    }

    .page2-div2 h1 {
        font-family: font1;
        font-size: 2vmax;
    }

    .page2-div3 {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        padding: 5vmax;
        border-bottom-right-radius: 90px;
    }

    .page2-div3 h1 {
        font-size: 2vmax;
    }

}

/* =========================== */
/* =========Page3 code ======= */
/* =========================== */

.page3 {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vmax;
    background-color: rebeccapurple;
}

.page3-top1 {
    height: 50%;
    width: 100%;
    background-color: #0be35a;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.1vmax;
}

.page3-top1 h1 {
    font-family: font1;
    font-size: 2vmax;
}

.page3-top1 h2 {
    font-family: font1;
    font-size: 3vmax;
}

.page3-top1 h3 {
    font-family: font4;
    font-size: 3vmax;
    color: #E3AD0B;
}

.page3-top2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vmax;
    padding: 2vmax;
}

.page3-top2 h1 {
    font-size: 10vmax;
    color: #E3AD0B;
    font-family: font1;
}

.page3-top2 p {
    font-family: font1;
    color: gray;
}

.page3-img-div {
    height: 30%;
    width: 100%;
    background-color: #0be35a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
}

.page3-img-div img {
    height: 6vmax;
}

.page3-img-div h1 {
    font-family: font1;
    font-size: 1.4vmax;
}

.page3-img-div1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vmax;

}

.page3-img-div2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vmax;
}

.page3-bot1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1vmax solid #E3AD0B;
    border-radius: 0.6vmax;
    padding: 2vmax;
}

.page3-bot2 {
    padding: 2vmax;
}

.page3-bot2 h1 {
    font-size: 2vmax;
}

.page3-right-div {
    height: 50%;
    width: 100%;
    position: relative;
    margin-top: 3vmax;
}

.page3-right-div img {
    height: 100%;
    width: 100%;
}

/* =========================== */
/* ======page3 Responsive===== */
/* ============================ */

@media (min-width:786px) {
    .page3 {
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5vmax;
        background-color: rgb(51, 153, 119);
    }

    .page3-top1 {
        height: 50%;
        width: 100%;
        background-color: #0be35a;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.1vmax;
    }

    .page3-top1 h1 {
        font-family: font1;
        font-size: 2vmax;
    }

    .page3-top1 h2 {
        font-family: font1;
        font-size: 3vmax;
    }

    .page3-top1 h3 {
        font-family: font4;
        font-size: 3vmax;
        color: #E3AD0B;
    }

    .page3-top2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vmax;
        padding: 2vmax;
    }

    .page3-top2 h1 {
        font-size: 5vmax;
    }

    .page3-top2 p {
        font-family: font1;
    }

    .page3-img-div {
        height: 30%;
        width: 100%;
        background-color: #0be35a;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2vmax;
    }

    .page3-img-div img {
        height: 6vmax;
    }

    .page3-img-div h1 {
        font-family: font1;
        font-size: 1.4vmax;
    }

    .page3-img-div1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vmax;

    }

    .page3-img-div2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vmax;
    }

    .page3-bot1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1vmax solid #E3AD0B;
        border-radius: 0.6vmax;
        padding: 2vmax;
    }

    .page3-bot2 {
        padding: 2vmax;
    }

    .page3-bot2 h1 {
        font-size: 2vmax;
    }

    .page3-right-div {
        height: 50%;
        width: 100%;
        position: relative;
        margin-top: 3vmax;
    }

    .page3-right-div img {
        height: 100%;
        width: 100%;
    }
}